.contributors-dot {
  @apply w-[40px] h-[40px] border-2 border-neutral-400 bg-stone-300 rounded-full absolute;
}

.enter-dream {
  @apply text-center leading-[52px] text-violet-950  h-[52px]  font-bold w-[260px] rounded-[52px] px-4 relative bg-white;
}

.enter-dream::after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(to right, #15097a, #ff006a);
  content: "";
  z-index: -1;
  border-radius: 36px;
}
