@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-pagination-bottom: -30px;
  --swiper-pagination-color: #c84b6a;
  --swiper-navigation-color: #fff;
  --swiper-navigation-size: 20px !important;
}

* {
  box-sizing: border-box;
}

/* 防止 pc 端打开过大 */
body {
  max-width: 800px;
  margin: 0 auto;
}
