.search-container {
  @apply flex  h-[36px] justify-between items-center rounded-[36px] px-4 relative bg-white gap-1;
}

.search-container::after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(to right, #15097a, #ff006a);
  content: "";
  z-index: -1;
  border-radius: 36px;
}
